@model BlogIT.Controllers.MediaController

@{
	ViewData["Title"] = "MainMediaPage";
}

<div class="text-center">
	<h1 class="display-4">My Media</h1>
	<p>Take a moment to check out my content!</p>
</div>


<div class="text-md-left border border-dark p-1">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>