@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Jane Doe</strong></h1>
    <blockquote class="blockquote">
        <p>"Many of life's failures are people who did not realize how close they were to success when they gave up."</p>
    <footer class="blockquote-footer">Thomas Edison<cite title="Source Title"> Life </cite></footer>
    </blockquote>
</div>
