@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4"><strong>Jane Doe</strong></h1>
	<blockquote class="blockquote">
		<p>"Many of life's failures are people who did not realize how close they were to success when they gave up."</p>
		<footer class="blockquote-footer">Thomas Edison<cite title="Source Title"> Life </cite></footer>
	</blockquote>
</div>



<img src="./photos/city-quintin-gellar.jpg" style="width:400px;margin-top:5em;margin-left:15%" />

<p style="border-style:solid;border-color:lightpink;margin-left:60%">
	Welcome to my blog! I, Jane, am a city dweling and life loving woman of the world! Take a break and have a little
	fun with me by checking out my adventures.
</p>

<div>
	<img src="./photos/lit-street-sunyu-kim.jpg" style="width:400px;height:500px;margin-top:5em; margin-left:55%">
</div>

<div>
	<img src="./photos/subway-snapwire.jpg" style="width:400px;align-content:center;margin-top:5em;margin-left:20%" />
</div>